<!DOCTYPE html>
<html>
    <head>
        <title>Groupie</title>
        <link rel="stylesheet" href="/css/base.css">

    </head>
    <body>
        <div class="cool-header">
            <a href="/" title="Back to Home Page"><h1>Groupie Tracker</h1></a>
            <!DOCTYPE html>
        <form id="filter-form" action="/filters" method="get">
            <label>Filter by Number of Members:</label><br>
            <label><input type="checkbox" name="members" value="1">1</label><br>
            <label><input type="checkbox" name="members" value="2">2</label><br>
            <label><input type="checkbox" name="members" value="3">3</label><br>
            <label><input type="checkbox" name="members" value="4">4</label><br>
            <label><input type="checkbox" name="members" value="5">5</label><br>
            <label><input type="checkbox" name="members" value="6">6</label><br>
            <label><input type="checkbox" name="members" value="7">7</label><br>
    
            <label>Filter by Creation Date:</label><br>
            <input type="number" name="Creationdate" min="1900" max="2099"><br>
    
            <label>Filter by First Album Date:</label><br>
            <input type="date" name="firstAlbumDate"><br>
    
            <select name="locations" id="location">
               {{ range . }} {{range .Locations}}<option value="{{.}}">{{.}}</option>{{end}} {{ end}}
              </select>

            <button type="submit">Apply Filters</button>
        </form>
        </div>
          
        <div class="artists-container">
            {{range .}} <!-- range over APIcall to get present the name and images -->
            <a href="/details?id={{.Id}}" class="artist-card"> <!-- the a tag turns the image along with the name to a url that is clickable -->
                <div class="artist-image">
                    <img src="{{.Image}}" alt="{{.Name}}">
                </div>  
                <div class="artist-info">
                    {{.Name}}
                </div>   
            </a> 
            <div class="searchresult">
  {{.SearchResult}}</div>
            {{end}}
        </div>
    </body>
</html>
