<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>

    

    <div id="filter-form-container" class="filter-form-container">
        <form id="filter-form" action="/filters" method="get">
            <label>Filter by Number of Members:</label><br>
            <label><input type="checkbox" name="members" value="1">1</label><br>
            <label><input type="checkbox" name="members" value="2">2</label><br>
            <label><input type="checkbox" name="members" value="3">3</label><br>
            <label><input type="checkbox" name="members" value="4">4</label><br>
            <label><input type="checkbox" name="members" value="5">5</label><br>
            <label><input type="checkbox" name="members" value="6">6</label><br>
            <label><input type="checkbox" name="members" value="7">7</label><br>

            <label>Filter by Creation Date:</label><br>
            <!-- <div id="creation-date-range">
                <div class="slider">
                    <input type="range" id="min-date" name="minCreationDate" min="1900" max="2000" value="1900" oninput="updateValue()">
                    <input type="range" id="max-date" name="maxCreationDate" min="2000" max="2099" value="2099" oninput="updateValue()">
                </div>
                <div class="date-range">
                    <span id="date-range-values">1900 - 2099</span>
                </div>
            </div>
            <br> -->

            <div class="range-slider">
                <input type="range" id="lower" name="minCreationDate" max={{.MinAndMaxDates.MaxCreationDate}} min={{.MinAndMaxDates.MinCreationDate}} step="0" value= {{.MinAndMaxDates.MinCreationDate}}>
                <input type="range" id="upper" name="maxCreationDate" max={{.MinAndMaxDates.MaxCreationDate}} min={{.MinAndMaxDates.MinCreationDate}} step="0" value={{.MinAndMaxDates.MaxCreationDate}}>
                <div id="date-range-values">0000 - 0000</div>
            </div>
            



            <label>Filter by First Album Date:</label><br>
            <!-- <input type="date" name="firstAlbumDate"><br> -->

            <div class="range-slider">
                <input type="range" id="lowerAlbum" name="minAlbumDate" max={{.MinAndMaxDates.MaxAlbumDate}} min={{.MinAndMaxDates.MinAlbumDate}} step="0" value= {{.MinAndMaxDates.MinAlbumDate}}>
                <input type="range" id="upperAlbum" name="maxAlbumDate" max={{.MinAndMaxDates.MaxAlbumDate}} min={{.MinAndMaxDates.MinAlbumDate}} step="0" value={{.MinAndMaxDates.MaxAlbumDate}}>
                <div id="album-date-range-values">0000 - 0000</div>
            </div>

            


            <label>Filter by Location:</label><br>
            <select name="locations" id="location">
                {{ range .Artists }}
                {{range .Locations}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
                {{ end}}
                <option value="none" selected>None</option>
            </select>
            
            <button type="submit">Apply Filters</button> <button type="button" id="clear-filters">Clear Filters</button>


          
        </form> 
        
    </div>

    <div class="cool-header">
        <a href="/" title="Back to Home Page">
            <h1>Groupie Tracker</h1>
        </a>
        <button id="toggle-filters" class="toggle-filters">Toggle Filters</button>
    </div>

    

    <div class="artists-container">
        {{range .Artists}}
        <a href="/details?id={{.Id}}" class="artist-card">
            <div class="artist-image">
                <img src="{{.Image}}" alt="{{.Name}}">
            </div>
            <div class="artist-info">
                {{.Name}}
            </div>
        </a>
        {{end}}
    </div>

    <script>
        
    
        document.addEventListener('DOMContentLoaded', function() {
            const filterFormContainer = document.getElementById('filter-form-container');
            const toggleFiltersButton = document.getElementById('toggle-filters');
            const coolHeader = document.querySelector('.cool-header');
            const clearFiltersButton = document.getElementById('clear-filters');

            const header = document.querySelector('.cool-header h1');
            header.addEventListener('click', function() {
            localStorage.removeItem('formData');
            form.reset();
            updateValues(); // to reset the range input display
            updateAlbumValues();
            uncheckAllCheckboxes();
            });

            
            clearFiltersButton.addEventListener('click', function() {
            localStorage.removeItem('formData');
            form.reset();
            updateValues(); // to reset the range input display
            updateAlbumValues();
            uncheckAllCheckboxes();
            });
    
            toggleFiltersButton.addEventListener('click', function(e) {
                e.stopPropagation(); // Prevent this click from being detected by the click-outside listener
                const isOpen = filterFormContainer.classList.toggle('open');
            });
    
            document.addEventListener('click', function(e) {
                if (!filterFormContainer.contains(e.target) && !toggleFiltersButton.contains(e.target)) {
                    filterFormContainer.classList.remove('open');
                }
            });
             const form = document.getElementById('filter-form');


        const lower = document.getElementById('lower');
        const upper = document.getElementById('upper');
        const dateRangeValues = document.getElementById('date-range-values');


        const lowerAlbum = document.getElementById('lowerAlbum');
        const upperAlbum = document.getElementById('upperAlbum');
        const albumRangeValues = document.getElementById('album-date-range-values');

        function updateAlbumValues() {
            if (parseInt(lowerAlbum.value) >= parseInt(upperAlbum.value)) {
                if (lowerAlbum.value == upperAlbum.value) {
                    lowerAlbum.value = parseInt(upperAlbum.value) - 1;
                } else {
                    upperAlbum.value = parseInt(lowerAlbum.value) + 1;
                }
            }
            albumRangeValues.textContent = `${lowerAlbum.value} - ${upperAlbum.value}`;
        }

        lowerAlbum.addEventListener('input', updateAlbumValues);
        upperAlbum.addEventListener('input', updateAlbumValues);

        function updateValues() {
            if (parseInt(lower.value) >= parseInt(upper.value)) {
                if (lower.value == upper.value) {
                    lower.value = parseInt(upper.value) - 1;
                } else {
                    upper.value = parseInt(lower.value) + 1;
                }
            }
            dateRangeValues.textContent = `${lower.value} - ${upper.value}`;
        }

        lower.addEventListener('input', updateValues);
        upper.addEventListener('input', updateValues);

        // Initial call to set displayed values
        updateValues();
        updateAlbumValues();

        // Load saved filters from Local Storage
        function loadFilters() {
            const savedFormData = JSON.parse(localStorage.getItem('formData'));
            
            if(savedFormData) { 
                Object.keys(savedFormData).forEach(key => {
                    const elements = document.getElementsByName(key);

                    elements.forEach(element => {
                        if (element.type === 'checkbox' && Array.isArray(savedFormData[key])) {
                            element.checked = savedFormData[key].includes(element.value);
                            element.checked ? element.setAttribute('checked', '') : element.removeAttribute('checked');
                        } else if (element.type === 'checkbox') {
                            element.checked = savedFormData[key] === "true";
                            element.checked ? element.setAttribute('checked', '') : element.removeAttribute('checked');
                        } else {
                            element.value = savedFormData[key];
                        }
                    });

                });
                updateValues();
                updateAlbumValues();
            }
        }

        function uncheckAllCheckboxes() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = false;
            });
        }

          // Save current filters to Local Storage
          form.addEventListener('submit', function() {
            const formData = new FormData(form);
            const savedFormData = {};

            formData.forEach((value, key) => {
                if (savedFormData[key]) {
                    savedFormData[key] = Array.isArray(savedFormData[key]) 
                        ? [...savedFormData[key], value] 
                        : [savedFormData[key], value];
                } else {
                    savedFormData[key] = value;
                }
            });

            // Save the checkboxes states correctly
            const checkboxes = form.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                if (!checkbox.checked) return;

                if (Array.isArray(savedFormData[checkbox.name])) {
                    savedFormData[checkbox.name].push(checkbox.value);
                } else {
                    savedFormData[checkbox.name] = [checkbox.value];
                }
            });

            localStorage.setItem('formData', JSON.stringify(savedFormData));
        });

        // Initial call to set displayed values and load saved filters
        updateValues();
        updateAlbumValues();
        loadFilters();
        });
    </script>
    
</body>

</html>
